<!DOCTYPE html>
<html>
<head>
  <title>Bugsnitch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1><%= link_to 'BugSnitch', root_path %></h1>
      <ul>
        <li><%= link_to 'Sobre Nós', sobre_path %></li>
        <li><%= link_to 'Equipe', equipe_path %></li>
        <li><%= link_to 'Contato', contato_path %></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li><%= link_to 'Sign In', sign_in_path %></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="row">
    <div class="col-md-2">
      <span>© 2016 BugSnitch</span>
    </div>
    <div class="col-md-10">
      <ul>
        <li><%= link_to 'Termos de Uso', termos_path %></li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
